@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin:0;
    padding:0;
}

:root{
    --background-principal: #00030c;
    --cor-titulo: #FFF;
    --cor-descricao:#c0c0c0;
    --cor-subtitulo: #F9F9F9;
    --cor-botao:#167BF7;
    --fonte-principal: "Inter", sans-serif;
}

body{
    background-color: var(--background-principal);
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}   


.principal__observacoes{
    color: var(--cor-descricao);
}

.conteudo__principal{
    width: 588px;
    height: 431px;
    font-family: var(--fonte-principal);
}

.conteudo__principal h1{
    color: var(--cor-titulo);
    font-size: 28px;
    margin-bottom: 22px;
}

.conteudo__principal a{
    text-decoration: none;
    border-radius: 8px;
    width: 512px;
    height: 56px;
    padding: 16px;
    font-size: 16px;
    color: var(--cor-titulo);
    display: block;
}

.botao__azul{
    background-color: var(--cor-botao);
}

.botao__vazio{
    background: none;
    border: var(--cor-titulo);
}
